* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 25px;
  }
  
  .hero-content p {
    font-size: 1.5rem;
  }
  
  

  





  
  #music-section {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
  }








  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #8f6fd4;
}

audio {
    margin-top: 50px;
    width: 80%;
}

h2 {

    font-size: 28px;
    margin-top: 4px;
    color: #8f677f;
}


















.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 75vh;
    background: #fff;
}

footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 133px;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {

    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}


footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff url(wave1.png);
    background-size: 1000px 100px;

}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 3s linear infinite;
}
span{
    color:#1100b0;
}


@keyframes animatewave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }

}


.zoom li a {
    transition: 1s;
}

.zoom li a:hover {
    transform: scale(1.1);
}